# Build
bin/
obj/


# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# JetBrains Rider
.idea/
*.sln.iml

# Logs
*.log

# Test results
TestResults/
*.trx

# NuGet
packages/
*.nupkg
*.snupkg

# OS
.DS_Store
Thumbs.db

# Environment / secrets
.env
.env.*